@import "tailwindcss";

@theme {
  --color-cream: #EAE6DF;
  --color-navy: #1A2E40;
  --color-accent: #52A290;
  --shadow-dark: #CDCAD3;
  --shadow-light: #FFFFFF;
}

body {
  background-color: var(--color-cream);
  margin: 0;
  color: var(--color-navy);
}
